<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile="data/cache/.phpunit.result.cache"
         colors="true">
    <testsuites>
        <testsuite name="all">
            <directory>./test</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>./test/AppTest</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>./test/AppFunctionalTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
